h1 {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.box-principal {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px black solid;
    box-shadow: 0 0 2px black;;
}

thead {
    background-color: rgb(187, 186, 186);
    font-weight: bolder;
}

tr:nth-child(2n) {
    background-color: #e0e0e0;
}

.acoes-consulta {
    text-decoration: none; 
    color: black;  
}

.acoes-consulta:hover {
    text-decoration: underline;
}

td {
    padding: 1%;
}