h1 {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.formulario-cadastro {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-radius: 3px;
    background-color: #e0e0e0;
}

.cadastro {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.cadastro input, select{
    margin-bottom: 20px;
}

.entrada-informacoes label {
    display: block;
    width: 20%;
    float: left;
}

.entrada-informacoes {
    padding-left: 7%;
}

.entrada-informacoes input {
    width: 530px;
}

.entrada-informacoes select {
    width: 532px;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

.botao-operacao {
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #308cca;
    border: none;
    /* border-radius: 3px; */
    color: white;
    font-weight: bolder;
    transition: 1s;
}

.botao-operacao:hover {
    background-color: #004a81;
    transition: 1s;
}