.bem-vindo {
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
}

h1 {
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5%;
}

.bem-vindo h1 {
    text-decoration: underline;
}

.informacoes-gerais {
    background-color: #e0e0e0;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    border: none;
    border-radius: 3px;
}

.informacoes-especificas {
    border: none;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    width: 40%;
    padding: 2%;
    margin-bottom: 2%;
}

.informacoes-especificas h2 {
    font-weight: bolder;
    font-size: 20px;
}

.informacoes-especificas p {
    font-weight: bolder;
}

.informacoes-especificas-direita {
    float: right;
}