.documento {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    text-align: justify;
}

.titulos-iniciais h2 {
    margin-top: 5%;
    font-size: 25px;
    font-weight: bolder;
}

.titulos-iniciais h3 {
    padding-top: 0;
    padding-bottom: 5%;
}

h1 {
    font-size: 25px;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 2%;
}

h3 {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 3%;
    padding-bottom: 2%;
}

h4 {
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 1%;
}

ol {
    padding-left: 2%;
    list-style: disc; 
}

ol li {
   padding-bottom: 1%; 
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

.hr-interna {
    margin-top: 3%;
    width: 75%;
}

strong {
    font-weight: bolder;
}